<section id="start">
    <div class="inlay">
        <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
            <div class="title-box">
                <h2>{{ currentLanguage === "de" ? "ANMELDUNG SUICMC 2025" : "REGISTRATION SUICMC 2025" }}</h2>
            </div>
            <div class="text-box" [innerHTML]="text[0].text[currentLanguage]"></div>
            <div class="title-box">
                <h2>HOUSING</h2>
            </div>
            <div class="text-box" [innerHTML]="text[1].text[currentLanguage]"></div>
            <div class="title-box">
                <h2>{{ currentLanguage === "de" ? "HELFER*INNEN" : "VOLUNTEERS" }}</h2>
            </div>
            <div class="text-box" [innerHTML]="text[2].text[currentLanguage]"></div>

            <!-- // Captain Section //////////////////////////////////////////////// -->
            <div class="title-box">
                <h2>TEAM CAPTAIN</h2>
            </div>
            <div class="input-group">
                <div class="single-box teamname">
                    <!-- Teamname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.teamname" type="text" id="teamname" name="teamname" placeholder="{{ currentLanguage === 'de' ? 'Teamname' : 'Teamname' }}" required #teamname="ngModel" />
                    <span *ngIf="teamname.invalid && (teamname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Teamname ist erforderlich" : "Teamname is required" }}
                    </span>
                </div>
            </div>
            <div class="input-group">
                <div class="single-box">
                    <!-- Vorname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.cap_vorname" type="text" id="cap_vorname" name="cap_vorname" placeholder="{{ currentLanguage === 'de' ? 'Vorname' : 'First Name' }}" required #cap_vorname="ngModel" />
                    <span *ngIf="cap_vorname.invalid && (cap_vorname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Vorname ist erforderlich" : "First name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Nachname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.cap_nachname" type="text" id="cap_nachname" name="cap_nachname" placeholder="{{ currentLanguage === 'de' ? 'Nachname' : 'Last Name' }}" required #cap_nachname="ngModel" />
                    <span *ngIf="cap_nachname.invalid && (cap_nachname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Nachname ist erforderlich" : "Last name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Spitzname (optional) -->
                    <input [(ngModel)]="userData.cap_spitzname" type="text" id="cap_spitzname" name="cap_spitzname" placeholder="{{ currentLanguage === 'de' ? 'Spitzname (optional)' : 'Nickname (optional)' }}" />
                </div>
            </div>
            <div class="input-group">
                <div class="single-box">
                    <!-- Verein (optional) -->
                    <input [(ngModel)]="userData.cap_verein" type="text" id="cap_verein" name="cap_verein" placeholder="{{ currentLanguage === 'de' ? 'Verein (optional)' : 'Association (optional)' }}" />
                </div>

                <div class="single-box">
                    <!-- Email (Pflichtfeld) -->
                    <input [(ngModel)]="userData.cap_email" type="email" id="cap_email" name="cap_email" placeholder="{{ currentLanguage === 'de' ? 'E-Mail' : 'Email' }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #cap_email="ngModel" />
                    <span *ngIf="cap_email.invalid && (cap_email.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Bitte gib eine gültige E-Mail-Adresse ein" : "Please enter a valid email address" }}
                    </span>
                </div>
                <div class="single-box"></div>
            </div>

            <!-- Essen -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "ESSEN" : "FOOD" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.cap_essen" name="cap_essen" value="vegan" required />
                {{ currentLanguage === "de" ? "Vegan" : "Vegan" }}

                <input type="radio" [(ngModel)]="userData.cap_essen" name="cap_essen" value="vegetarisch" />
                {{ currentLanguage === "de" ? "Vegetarisch" : "Vegetarian" }}

                <input type="radio" [(ngModel)]="userData.cap_essen" name="cap_essen" value="keinWunsch" />
                {{ currentLanguage === "de" ? "Kein Wunsch" : "No Preference" }}
            </div>
            <!-- Fehlermeldung, kein Essen gewählt -->
            <div *ngIf="!userData.cap_essen && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Housing -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HOUSING" : "HOUSING" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.cap_housing" name="cap_housing" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.cap_housing" name="cap_housing" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Housing gewählt -->
            <div *ngIf="!userData.cap_housing && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Helfer -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HELFER*INNEN" : "VOLUNTEERS" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.cap_helfer" name="cap_helfer" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.cap_helfer" name="cap_helfer" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Helfer gewählt -->
            <div *ngIf="!userData.cap_helfer && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <div class="title-box">
                <h2>{{ currentLanguage === "de" ? "TEAM MITGLIEDER" : "TEAM MEMBER" }}</h2>
            </div>
            <!-- // Spieler 2  /////// -->
            <!-- ///////////////////////////////////////// -->
            <div class="input-group">
                <div class="single-box">
                    <!-- Vorname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp1_vorname" type="text" id="sp1_vorname" name="sp1_vorname" placeholder="{{ currentLanguage === 'de' ? 'Vorname' : 'First Name' }}" required #sp1_vorname="ngModel" />
                    <span *ngIf="sp1_vorname.invalid && (sp1_vorname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Vorname ist erforderlich" : "First name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Nachname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp1_nachname" type="text" id="sp1_nachname" name="sp1_nachname" placeholder="{{ currentLanguage === 'de' ? 'Nachname' : 'Last Name' }}" required #sp1_nachname="ngModel" />
                    <span *ngIf="sp1_nachname.invalid && (sp1_nachname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Nachname ist erforderlich" : "Last name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Spitzname (optional) -->
                    <input [(ngModel)]="userData.sp1_spitzname" type="text" id="sp1_spitzname" name="sp1_spitzname" placeholder="{{ currentLanguage === 'de' ? 'Spitzname (optional)' : 'Nickname (optional)' }}" />
                </div>
            </div>
            <div class="input-group">
                <div class="single-box">
                    <!-- Verein (optional) -->
                    <input [(ngModel)]="userData.sp1_verein" type="text" id="sp1_verein" name="sp1_verein" placeholder="{{ currentLanguage === 'de' ? 'Verein (optional)' : 'Association (optional)' }}" />
                </div>

                <div class="single-box">
                    <!-- Email (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp1_email" type="email" id="sp1_email" name="sp1_email" placeholder="{{ currentLanguage === 'de' ? 'E-Mail' : 'Email' }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #sp1_email="ngModel" />
                    <span *ngIf="sp1_email.invalid && (sp1_email.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Bitte gib eine gültige E-Mail-Adresse ein" : "Please enter a valid email address" }}
                    </span>
                </div>
                <div class="single-box"></div>
            </div>

            <!-- Essen -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "ESSEN" : "FOOD" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp1_essen" name="sp1_essen" value="vegan" required />
                {{ currentLanguage === "de" ? "Vegan" : "Vegan" }}

                <input type="radio" [(ngModel)]="userData.sp1_essen" name="sp1_essen" value="vegetarisch" />
                {{ currentLanguage === "de" ? "Vegetarisch" : "Vegetarian" }}

                <input type="radio" [(ngModel)]="userData.sp1_essen" name="sp1_essen" value="keinWunsch" />
                {{ currentLanguage === "de" ? "Kein Wunsch" : "No Preference" }}
            </div>
            <!-- Fehlermeldung, kein Essen gewählt -->
            <div *ngIf="!userData.sp1_essen && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Housing -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HOUSING" : "HOUSING" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp1_housing" name="sp1_housing" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp1_housing" name="sp1_housing" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Housing gewählt -->
            <div *ngIf="!userData.sp1_housing && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Helfer -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HELFER*INNEN" : "VOLUNTEERS" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp1_helfer" name="sp1_helfer" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp1_helfer" name="sp1_helfer" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Helfer gewählt -->
            <div *ngIf="!userData.sp1_helfer && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>
            <!-- // Spieler 2  /////// -->
            <!-- ///////////////////////////////////////// -->
            <br />
            <br />
            <br />
            <div class="input-group">
                <div class="single-box">
                    <!-- Vorname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp2_vorname" type="text" id="sp2_vorname" name="sp2_vorname" placeholder="{{ currentLanguage === 'de' ? 'Vorname' : 'First Name' }}" required #sp2_vorname="ngModel" />
                    <span *ngIf="sp2_vorname.invalid && (sp2_vorname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Vorname ist erforderlich" : "First name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Nachname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp2_nachname" type="text" id="sp2_nachname" name="sp2_nachname" placeholder="{{ currentLanguage === 'de' ? 'Nachname' : 'Last Name' }}" required #sp2_nachname="ngModel" />
                    <span *ngIf="sp2_nachname.invalid && (sp2_nachname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Nachname ist erforderlich" : "Last name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Spitzname (optional) -->
                    <input [(ngModel)]="userData.sp2_spitzname" type="text" id="sp2_spitzname" name="sp2_spitzname" placeholder="{{ currentLanguage === 'de' ? 'Spitzname (optional)' : 'Nickname (optional)' }}" />
                </div>
            </div>
            <div class="input-group">
                <div class="single-box">
                    <!-- Verein (optional) -->
                    <input [(ngModel)]="userData.sp2_verein" type="text" id="sp2_verein" name="sp2_verein" placeholder="{{ currentLanguage === 'de' ? 'Verein (optional)' : 'Association (optional)' }}" />
                </div>

                <div class="single-box">
                    <!-- Email (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp2_email" type="email" id="sp2_email" name="sp2_email" placeholder="{{ currentLanguage === 'de' ? 'E-Mail' : 'Email' }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #sp2_email="ngModel" />
                    <span *ngIf="sp2_email.invalid && (sp2_email.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Bitte gib eine gültige E-Mail-Adresse ein" : "Please enter a valid email address" }}
                    </span>
                </div>
                <div class="single-box"></div>
            </div>

            <!-- Essen -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "ESSEN" : "FOOD" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp2_essen" name="sp2_essen" value="vegan" required />
                {{ currentLanguage === "de" ? "Vegan" : "Vegan" }}

                <input type="radio" [(ngModel)]="userData.sp2_essen" name="sp2_essen" value="vegetarisch" />
                {{ currentLanguage === "de" ? "Vegetarisch" : "Vegetarian" }}

                <input type="radio" [(ngModel)]="userData.sp2_essen" name="sp2_essen" value="keinWunsch" />
                {{ currentLanguage === "de" ? "Kein Wunsch" : "No Preference" }}
            </div>
            <!-- Fehlermeldung, kein Essen gewählt -->
            <div *ngIf="!userData.sp2_essen && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Housing -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HOUSING" : "HOUSING" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp2_housing" name="sp2_housing" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp2_housing" name="sp2_housing" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Housing gewählt -->
            <div *ngIf="!userData.sp2_housing && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Helfer -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HELFER*INNEN" : "VOLUNTEERS" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp2_helfer" name="sp2_helfer" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp2_helfer" name="sp2_helfer" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Helfer gewählt -->
            <div *ngIf="!userData.sp2_helfer && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>
            <!-- // Spieler 3  /////// -->
            <!-- ///////////////////////////////////////// -->
            <br />
            <br />
            <br />
            <div class="input-group">
                <div class="single-box">
                    <!-- Vorname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp3_vorname" type="text" id="sp3_vorname" name="sp3_vorname" placeholder="{{ currentLanguage === 'de' ? 'Vorname' : 'First Name' }}" required #sp3_vorname="ngModel" />
                    <span *ngIf="sp3_vorname.invalid && (sp3_vorname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Vorname ist erforderlich" : "First name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Nachname (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp3_nachname" type="text" id="sp3_nachname" name="sp3_nachname" placeholder="{{ currentLanguage === 'de' ? 'Nachname' : 'Last Name' }}" required #sp3_nachname="ngModel" />
                    <span *ngIf="sp3_nachname.invalid && (sp3_nachname.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Nachname ist erforderlich" : "Last name is required" }}
                    </span>
                </div>

                <div class="single-box">
                    <!-- Spitzname (optional) -->
                    <input [(ngModel)]="userData.sp3_spitzname" type="text" id="sp3_spitzname" name="sp3_spitzname" placeholder="{{ currentLanguage === 'de' ? 'Spitzname (optional)' : 'Nickname (optional)' }}" />
                </div>
            </div>
            <div class="input-group">
                <div class="single-box">
                    <!-- Verein (optional) -->
                    <input [(ngModel)]="userData.sp3_verein" type="text" id="sp3_verein" name="sp3_verein" placeholder="{{ currentLanguage === 'de' ? 'Verein (optional)' : 'Association (optional)' }}" />
                </div>

                <div class="single-box">
                    <!-- Email (Pflichtfeld) -->
                    <input [(ngModel)]="userData.sp3_email" type="email" id="sp3_email" name="sp3_email" placeholder="{{ currentLanguage === 'de' ? 'E-Mail' : 'Email' }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #sp3_email="ngModel" />
                    <span *ngIf="sp3_email.invalid && (sp3_email.touched || registrationForm.submitted)">
                        {{ currentLanguage === "de" ? "Bitte gib eine gültige E-Mail-Adresse ein" : "Please enter a valid email address" }}
                    </span>
                </div>
                <div class="single-box"></div>
            </div>

            <!-- Essen -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "ESSEN" : "FOOD" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp3_essen" name="sp3_essen" value="vegan" required />
                {{ currentLanguage === "de" ? "Vegan" : "Vegan" }}

                <input type="radio" [(ngModel)]="userData.sp3_essen" name="sp3_essen" value="vegetarisch" />
                {{ currentLanguage === "de" ? "Vegetarisch" : "Vegetarian" }}

                <input type="radio" [(ngModel)]="userData.sp3_essen" name="sp3_essen" value="keinWunsch" />
                {{ currentLanguage === "de" ? "Kein Wunsch" : "No Preference" }}
            </div>
            <!-- Fehlermeldung, kein Essen gewählt -->
            <div *ngIf="!userData.sp3_essen && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Housing -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HOUSING" : "HOUSING" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp3_housing" name="sp3_housing" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp3_housing" name="sp3_housing" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Housing gewählt -->
            <div *ngIf="!userData.sp3_housing && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <!-- Helfer -->
            <div class="radio-box">
                <div class="label-container">
                    <label>{{ currentLanguage === "de" ? "HELFER*INNEN" : "VOLUNTEERS" }}</label>
                </div>
                <input type="radio" [(ngModel)]="userData.sp3_helfer" name="sp3_helfer" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
                <input type="radio" [(ngModel)]="userData.sp3_helfer" name="sp3_helfer" value="nein" />
                {{ currentLanguage === "de" ? "Nein" : "No" }}
            </div>
            <!-- Fehlermeldung, kein Helfer gewählt -->
            <div *ngIf="!userData.sp3_helfer && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>
            <div class="title-box">
                <h2>AWARENESS</h2>
            </div>
            <div class="text-box" [innerHTML]="text[3].text[currentLanguage]"></div>

            <!-- Awareness gelesen -->
            <div class="radio-box">
                <input type="radio" [(ngModel)]="awareness_gelesen" name="awareness_gelesen" value="ja" required />
                {{ currentLanguage === "de" ? "Ja" : "Yes" }}
            </div>
            <!-- Fehlermeldung, Awareness nicht bestätigt -->
            <div *ngIf="!awareness_gelesen && registrationForm.submitted">
                <span style="color: red">
                    {{ currentLanguage === "de" ? "Bitte wählen" : "Please choose" }}
                </span>
            </div>

            <div class="title-box">
                <h2>{{ currentLanguage === "de" ? "Bemerkung" : "Message" }}</h2>
            </div>
            <!-- Bemerkungen (optional) -->
            <textarea [(ngModel)]="userData.bemerkung" type="text" id="bemerkung" name="bemerkung" placeholder="{{ currentLanguage === 'de' ? 'Bemerkung...' : 'Message...' }}"></textarea>

            <div class="button-box">
                <!-- Submit Button -->
                <input class="button" type="submit" value="{{ currentLanguage === 'de' ? 'JETZT ANMELDEN' : 'REGISTER NOW' }}" />
            </div>
        </form>
    </div>
</section>

<div class="feedback-overlay" *ngIf="feedbackOverlay">
    <div class="feedback-container" [ngStyle]="{ 'background-color': registration_successful ? '#2b61d9' : 'red' }">
        <!-- Inhalt des Feedbacks -->
        <h2>{{ registration_successful ? "Registrierung erfolgreich! " : "Registrierung fehlgeschlagen!" }}</h2>
        <br />
        <h2>{{ registration_successful ? "Registration successful!" : "Registration failed!" }}</h2>
        <div class="button-box">
            <div class="button" routerLink="/">
                <p>Zurück / Back</p>
            </div>
        </div>
    </div>
</div>
