<section>
    @if (currentLanguage === "de") {
    <div class="inlay">
        <h2>KONTAKT</h2>

        <div class="text-box">
            <b>Wie kannst du das Awareness-Team erreichen?</b>
            <br />
            <span>- per Mail an <a href="mailto:awareness&#64;suicmc2025.ch">awareness&#64;suicmc2025.ch</a></span>
            <br />
            <br />
            <span>Später folgen die Infos zum Kontakt und zur Kennzeichnung vor Ort und während dem Anlass.</span>
        </div>
    </div>
    } @if (currentLanguage === "en") {
    <div class="inlay">
        <h2>CONTACT</h2>

        <div class="text-box">
            <b>How can your reach out to the Awareness Team?</b>
            <br />
            <span>Email <a href="mailto:awareness&#64;suicmc2025.ch">awareness&#64;suicmc2025.ch</a></span>
            <br />
            <br />
            <span>Details about how to contact the team and how to recognize them on-site at the event will follow later.</span>
        </div>
    </div>
    }
</section>
