<section>
    @if (currentLanguage === "de") {
    <div class="inlay">
        <h2>KONTAKT</h2>

        <div class="text-box">
            <b>Wie kannst du das Awareness-Team erreichen?</b>
            <br />
            <br />
            <span>- +41 77 983 60 42 (während dem Event: ab Freitag 15 Uhr bis Montag 10 Uhr)</span>
            <br />
            <br />
            <span>- per Mail an <a href="mailto:awareness&#64;suicmc2025.ch">awareness&#64;suicmc2025.ch</a> (vor und nach dem Event)</span>
            <br />
        </div>
    </div>
    } @if (currentLanguage === "en") {
    <div class="inlay">
        <h2>CONTACT</h2>

        <div class="text-box">
            <b>How can your reach out to the Awareness Team?</b>
            <br />
            <br />
            <span>- +41 77 983 60 42 (during the event from Friday 3 PM to Monday 10 AM)</span>
            <br />
            <br />
            <span>Email <a href="mailto:awareness&#64;suicmc2025.ch">awareness&#64;suicmc2025.ch</a> (before and after the event)</span>
            <br />
            <br />
        </div>
    </div>
    }
</section>
