<section id="start">
    <div class="background"></div>

    <div class="content">
        <app-start id="start"> </app-start>
        <!-- <app-was-ist></app-was-ist> -->
        <!-- braucht es laut robin nicht -->
        <!-- <app-anmeldung></app-anmeldung> -->
        <!-- <app-awareness></app-awareness> -->
        <!-- <app-unser-verein></app-unser-verein> -->
        <!-- <app-support-us></app-support-us> -->
        <!-- <app-footer></app-footer> -->
    </div>

    <div class="kontakt-stoerer">
        <img src="./assets/img/stoerer_rosa.png" alt="" />
        <span class="kontakt-text"> {{ currentLanguage === "de" ? "KONTAKT" : "CONTACT" }}</span>
    </div>
</section>
