<section>
    <div class="inlay">
        <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">

            <div class="title-box">
                <h2>ANMELDUNG SUICMC 2025</h2>
            </div>

                <div class="input-group">
                    <div class="single-box">
                        <!-- Vorname (Pflichtfeld) -->
                        <input [(ngModel)]="userData.vorname" type="text" id="vorname" name="vorname" placeholder="Vorname" required #vorname="ngModel">
                        <span *ngIf="(vorname.invalid && (vorname.touched || registrationForm.submitted))">Vorname ist erforderlich</span>
                    </div>
    
    
                    <div class="single-box">
                        <!-- Nachname (Pflichtfeld) -->
                        <input [(ngModel)]="userData.nachname" type="text" id="nachname" name="nachname" placeholder="Nachname" required #nachname="ngModel">
                        <span *ngIf="(nachname.invalid && (nachname.touched || registrationForm.submitted))">Nachname ist erforderlich</span>
                    </div>
    
                    <div class="single-box">
                        <!-- Spitzname (optional) -->
                        <input [(ngModel)]="userData.spitzname" type="text" id="spitzname" name="spitzname" placeholder="Spitzname (optional)">
                    </div>
                </div>

                <div class="input-group">
                        <div class="single-box">
                        <!-- Ort (Pflichtfeld) -->
                            <input [(ngModel)]="userData.ort" type="text" id="ort" name="ort" placeholder="Ort" required #ort="ngModel">
                            <span *ngIf="(ort.invalid && (ort.touched || registrationForm.submitted))">Ort ist erforderlich</span>
                        </div>
        
                        <div class="single-box">
                            <!-- Firma (optional) -->
                            <input [(ngModel)]="userData.firma" type="text" id="firma" name="firma" placeholder="Firma (optional)">
                        </div>
        
                        <div class="single-box">
                            <!-- Email (Pflichtfeld) -->
                            <input [(ngModel)]="userData.email" type="email" id="email" name="email" placeholder="Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel">
                            <span *ngIf="(email.invalid && (email.touched || registrationForm.submitted))">Bitte gib eine gültige Email-Adresse ein</span>
                        </div>
                </div>


                <div class="input-group">
                    <div class="single-box">
                        <!-- Startnummer (optional, 1 bis 4-stellige Zahl) -->
                        <input [(ngModel)]="userData.startnummer" (ngModelChange)="startnummerFehler=''"
                               type="number" id="startnummer" name="startnummer" placeholder="Startnummer (optional)"
                               min="1" max="9999" #startnummer="ngModel">
                
                        <!-- Validierungsfehlermeldung für ungültige Eingabe -->
                        <span *ngIf="(startnummer.invalid && (startnummer.touched || registrationForm.submitted))">
                            Startnummer muss zwischen 1 und 9999 liegen
                        </span>
                

                    </div>

                    <div class="single-box">
                        <!-- Fehlermeldung, wenn Startnummer bereits vergeben -->
                        <span *ngIf="startnummerFehler" class="error-message">
                            {{ startnummerFehler }}
                        </span>

                    </div>

                    <div class="single-box">
                
                        <!-- Anzeige der Startnummernliste beim Klicken auf den Text -->
                        <div class="numberbox">
                            <p class="show-link" (click)="showStartnummern = !showStartnummern" style="cursor: pointer; text-decoration: underline;">
                            belegte Startnummern:
                            </p>
                            <div *ngIf="showStartnummern">
                            <!-- Startnummernliste -->
                            <div >
                                <span class="nummern-liste" *ngFor="let nummer of startnummern; let isLast = last">
                                {{ nummer }}<span class="nummern-liste" *ngIf="!isLast">, </span>
                                </span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="title-box">
                    <h2>RACES</h2>
                </div>

                <div class="tex-box">
                    Es können beide Rennen gefahren werden. Am Samstag, 6. September 2025 findet das Cargorace statt. Am Sonntag, 7. September 2025 findet das Mainrace statt. Bitte gebe bei einer Anmeldung auch gleich die Kategorie an, in der du mitfahren möchtest. Open,  WTNB (Woman Trans NonBinary), No Ranking.
                </div>

                <!-- Cargorace -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Carcorace</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.cargorace" name="cargorace" value="open"> Open
                    <input type="radio" [(ngModel)]="userData.cargorace" name="cargorace" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.cargorace" name="cargorace" value="noRanking"> No Ranking
                </div> 
                
                <!-- Mainrace -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Mainrace</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.mainrace" name="mainrace" value="open"> Open
                    <input type="radio" [(ngModel)]="userData.mainrace" name="mainrace" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.mainrace" name="mainrace" value="noRanking"> No Ranking
                </div>

                <div class="title-box">
                    <h2>SIDE EVENTS</h2>
                </div>

                <div class="tex-box">
                    Die meisten Side Events finden am Samstag, 6. September 2025 statt. Du kannst dich jetzt schon für Side Events einschreiben, da uns dies die Organisation vereinfacht. Aber keine Sorge, an den Side Events kannst du auch ganz spontan vor Ort teilnehmen.
                </div>

                <!-- Bergsprint -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Bergsprint</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.bergsprint" name="bergsprint" value="open"> Open
                    <input type="radio" [(ngModel)]="userData.bergsprint" name="bergsprint" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.bergsprint" name="bergsprint" value="noRanking"> No Ranking
                </div>
                
                <!-- Skid -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Skid</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.skid" name="skid" value="open"> Open
                    <input type="radio" [(ngModel)]="userData.skid" name="skid" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.skid" name="skid" value="noRanking"> No Ranking
                </div>

                <!-- Trackstand -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Trackstand</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.trackstand" name="trackstand" value="open"> Open
                    <input type="radio" [(ngModel)]="userData.trackstand" name="trackstand" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.trackstand" name="trackstand" value="noRanking"> No Ranking
                </div>

                <!-- Footdown -->
                <div class="radio-box">
                    <div class="label-container">
                        <label>Footdown</label>
                    </div>
                    <input type="radio" [(ngModel)]="userData.footdown" name="footdown" value="open" > Open
                    <input type="radio" [(ngModel)]="userData.footdown" name="footdown" value="wtnb"> WTNB
                    <input type="radio" [(ngModel)]="userData.footdown" name="footdown" value="noRanking"> No Ranking
                </div>

                <div class="title-box">
                    <h2>ESSEN</h2>
                </div>

                <div class="tex-box">
                    Damit unsere Küche planen kann, fragen wir dich jetzt schon was für Essen du bevorzugst.
                </div>

                <!-- Essen -->
                <div class="radio-box">
                    <input type="radio" [(ngModel)]="userData.essen" name="essen" value="vegan" required> Vegan
                    <input type="radio" [(ngModel)]="userData.essen" name="essen" value="vegetarisch"> Vegetarisch
                    <input type="radio" [(ngModel)]="userData.essen" name="essen" value="keinWunsch"> Kein Wunsch
                </div>
                <!-- Fehlermeldung, kein essen gewählt-->
                <div *ngIf="!userData.essen && registrationForm.submitted">
                    <span style="color:red">Bitte wählen</span>
                </div>

                <div class="title-box">
                    <h2>HOUSING</h2>
                </div>


                <div class="tex-box">
                    Bitte gebe uns an, ob du bei uns Übernachten möchtest. Sobald wir mehr wissen, wie und wo du bei uns übernachten kannst, kommen wir erneut auf dich zu. Die Kosten sind mit deiner Anmeldegebühr gedeckt.
                </div>

                <!-- Housing -->
                <div class="radio-box">
                    <input type="radio" [(ngModel)]="userData.housing" name="housing" value="ja" required> Ja
                    <input type="radio" [(ngModel)]="userData.housing" name="housing" value="nein"> Nein
                </div>
                <!-- Fehlermeldung, kein essen gewählt-->
                <div *ngIf="!userData.housing && registrationForm.submitted">
                    <span style="color:red">Bitte wählen</span>
                </div>

                <div class="title-box">
                    <h2>HELFER</h2>
                </div>

                <div class="tex-box">
                    Möchtest du dich als Helfer anmelden - dann hast du hier die Möglichkeit.
                </div>

                <!-- Helfer -->
                <div class="radio-box">
                    <input type="radio" [(ngModel)]="userData.helfer" name="helfer" value="ja" required> Ja
                    <input type="radio" [(ngModel)]="userData.helfer" name="helfer" value="nein"> Nein
                </div>
                <!-- Fehlermeldung, kein essen gewählt-->
                <div *ngIf="!userData.helfer && registrationForm.submitted">
                    <span style="color:red">Bitte wählen</span>
                </div>

                <div class="title-box">
                    <h2>BEMERKUNG</h2>
                </div>

                <!-- Bemerkungen (optional) -->
                <textarea [(ngModel)]="userData.bemerkung" type="text" id="bemerkung" name="bemerkung" placeholder="Bemerkung"></textarea>

                <div class="button-box">
                    <!-- Submit Button -->
                    <input class="button" type="submit" value="JETZT ANMELDEN">
                </div>
            </form>
        </div>

</section>


<div class="feedback-overlay" *ngIf="feedbackOverlay">
    <div class="feedback-container" 
         [ngStyle]="{'background-color': registration_successful ? '#2b61d9' : 'red'}">
      <!-- Inhalt des Feedbacks -->
      <h2>{{ registration_successful ? 'Registrierung erfolgreich! ' : 'Registrierung fehlgeschlagen!' }}</h2>
      <br>
      <h2>{{ registration_successful ? 'Registration successful!' : 'Registration failed!' }}</h2>
      <div class="button-box">
        <div class="button" routerLink="/">
          <p > Zurück / Back </p>    
        </div>
      </div>

    </div>
  </div>
  
  
