<section
    [ngStyle]="{
        'background-color': currentRoute === 'suicmc' ? '#437CFA' : currentRoute === 'sbpc' ? '#9343E3' : currentRoute === 'pre ecmc' ? '#FF9021' : 'white'
    }"
>
    <div
        class="inlay"
        style="background-color: red"
        [ngStyle]="{
            color: currentRoute === 'suicmc' ? '#DEEEFF' : currentRoute === 'sbpc' ? '#EEDDFF' : currentRoute === 'pre ecmc' ? '#FDE9D5' : 'white'
        }"
    >
        <h2>{{ getText("titel") }}</h2>

        <div class="grid">
            <div class="cell" *ngFor="let url of permalinks">
                <!-- Minimaler Embed: Blockquote + data-instgrm-permalink -->
                <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="14" [attr.data-instgrm-permalink]="url"></blockquote>
            </div>
        </div>

        <a
            class="insta-button"
            [href]="instagramUrl"
            target="_blank"
            rel="noopener"
            [ngStyle]="{
                'background-color': currentRoute === 'suicmc' ? '#DEEEFF' : currentRoute === 'sbpc' ? '#EEDDFF' : currentRoute === 'pre ecmc' ? '#FDE9D5' : 'white',
                color: currentRoute === 'suicmc' ? '#437CFA' : currentRoute === 'sbpc' ? '#9343E3' : currentRoute === 'pre ecmc' ? '#FF9021' : 'black'
            }"
        >
            {{ getText("button") }}
        </a>
    </div>
</section>
