<section id="start">
    <div class="background">
        <img src="./assets/img/sbpc_kopfzeile.jpg" alt="" />
    </div>

    <div class="content">
        <app-start id="start"></app-start>
        <app-stoerer-awareness-guide></app-stoerer-awareness-guide>
        <app-was-ist></app-was-ist>
        <app-anmeldung #anmeldung></app-anmeldung>
        <app-progamm-sbpc></app-progamm-sbpc>
        <app-karte></app-karte>
        <app-lineup></app-lineup>
        <app-support-us></app-support-us>
        <app-unser-verein></app-unser-verein>
        <app-sponsoring></app-sponsoring>
        <!-- <app-instagram></app-instagram> -->

        <!-- <app-verhalten></app-verhalten> -->

        <app-footer></app-footer>
    </div>
</section>
