<section id="start">
    <div class="background">
        <!-- <img src="./assets/img/sbpc_kopfzeile.png" alt=""> -->
    </div>

    <div class="content">
        <app-start id="start"></app-start>
        <app-stoerer-awareness-guide></app-stoerer-awareness-guide>
        <app-helfer></app-helfer>

        <app-anmeldung></app-anmeldung>
        <app-programm-pre-ecmc></app-programm-pre-ecmc>

        <app-support-us></app-support-us>
        <app-unser-verein></app-unser-verein>
        <!-- <app-verhalten></app-verhalten> -->
        <app-sponsoring></app-sponsoring>
        <!-- <app-instagram></app-instagram> -->
        <app-footer></app-footer>
    </div>
</section>
