<section
    [ngStyle]="{
        'background-color': currentRoute === 'suicmc' ? '#2b61d9' : currentRoute === 'sbpc' ? '#622a9b' : currentRoute === 'pre ecmc' ? '#d86c00' : 'white'
    }"
>
    <div
        class="inlay"
        [ngStyle]="{
            color: currentRoute === 'suicmc' ? '#DEEEFF' : currentRoute === 'sbpc' ? '#EEDDFF' : currentRoute === 'pre ecmc' ? '#FDE9D5' : 'white'
        }"
    >
        <h2>{{ getText("titel") }}</h2>

        <div class="map-box">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11DRnKmDQLVcf5Pwt2c8a7KBWZ4sqhzs&ehbc=2E312F&noprof=1" width="100%" height="100%" style="border: 0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="text-box">
            <p>{{ getText("text1") }}</p>
        </div>
    </div>
</section>
