<section
    [ngStyle]="{
        'background-color': currentRoute === 'suicmc' ? '#DEEEFF' : currentRoute === 'sbpc' ? '#EEDDFF' : currentRoute === 'pre ecmc' ? '#FDE9D5' : 'white'
    }"
>
    <div
        class="inlay"
        [ngStyle]="{
            color: currentRoute === 'suicmc' ? '#437CFA' : currentRoute === 'sbpc' ? '#9343E3' : currentRoute === 'pre ecmc' ? '#FF9021' : 'white'
        }"
    >
        <h2>{{ getText("titel") }}</h2>

        <div
            class="line"
            [ngStyle]="{
                background: currentRoute === 'suicmc' ? '#437CFA' : currentRoute === 'sbpc' ? '#9343E3' : currentRoute === 'pre ecmc' ? '#FF9021' : 'white'
            }"
        ></div>

        <div class="text-box" [innerHTML]="text.lineup.text1[currentLanguage]"></div>
        <div
            class="line"
            [ngStyle]="{
                background: currentRoute === 'suicmc' ? '#437CFA' : currentRoute === 'sbpc' ? '#9343E3' : currentRoute === 'pre ecmc' ? '#FF9021' : 'white'
            }"
        ></div>
        <div class="text-box" [innerHTML]="text.lineup.text2[currentLanguage]"></div>
    </div>
</section>
