.stoerer {
    position: fixed;
    z-index: 5;
    top: 63vh;
    right: 2%;

    @media (max-width: 800px) {
        top: 72%;
    }

    > img {
        height: 120px;
        width: auto;
        transition: all 125ms ease-in-out;

        @media (max-width: 800px) {
            height: 80px;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 0.9;
            transition: all 125ms ease-in-out;
        }
    }

    .stoerer-text {
        position: absolute;
        top: 50%; /* Zentrierung */
        left: 50%; /* Zentrierung */
        transform: translate(-50%, -50%) rotate(-10deg); /* Rotation und Zentrierung */
        font-family: "Staatliches", sans-serif; /* Anpassen an deine Schriftart */
        font-size: 24px; /* Schriftgröße */
        font-weight: 400; /* Fettgedruckt */
        color: black; /* Farbe anpassen */
        text-align: center;
        pointer-events: none; /* Klicks durch den Text hindurch zulassen */

        @media (max-width: 800px) {
            font-size: 14px; /* Schriftgröße */
        }
    }
}
