/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    /* Für Webkit-basierte Browser (Chrome, Safari) */
    ::-webkit-scrollbar {
      display: none;
    }
    
    /* Für Firefox */
    scrollbar-width: none;

    /* Optional: overflow-y auf auto, um vertikales Scrollen zu erlauben */
    overflow-y: auto;
    overflow: auto; /* Sicherstellen, dass Scrollen erlaubt ist */
  }
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

//Colors  
/////////////////////////////////////////

// Suicmc 2025
$suicmc-blau-01: #deeeff; // RGB: 222, 238, 255 | CMYK: 13, 7, 0, 0
$suicmc-blau-02: #437cfa; // RGB: 67, 124, 250 | CMYK: 73, 50, 0, 2
$suicmc-blau-03: #2b61d9; // RGB: 43, 97, 217 | CMYK: 80, 55, 0, 15
$suicmc-blau-04: #2a4684; // RGB: 42, 70, 132 | CMYK: 68, 47, 0, 48

// Sbpc 2025
$sbpc-violett-01: #eeddff; // RGB: 238, 221, 255 | CMYK: 7, 13, 0, 0
$sbpc-violett-02: #9343e3; // RGB: 147, 67, 227 | CMYK: 35, 70, 0, 11
$sbpc-violett-03: #622a9b; // RGB: 98, 42, 155 | CMYK: 37, 73, 0, 39
$sbpc-violett-04: #3b1f58; // RGB: 59, 31, 88 | CMYK: 33, 65, 0, 65

// Pre-ECMC Group Ride
$pre-ecmc-light-apricot: #fde9d5; // RGB: 253, 233, 213 | CMYK: 0, 8, 16, 1
$pre-ecmc-sunshade: #ff9021; // RGB: 255, 144, 33 | CMYK: 0, 44, 87, 0
$pre-ecmc-mango-tango: #d86c00; // RGB: 216, 108, 0 | CMYK: 0, 50, 100, 15
$pre-ecmc-cedar-wood-finish: #802700; // RGB: 128, 39, 0 | CMYK: 0, 70, 100, 50


//Fonts
////////////////////////////////////////

$title-font:  "Staatliches", sans-serif;

$text-font: "IBM Plex Sans", sans-serif;
$text-font-size: clamp(16px, 4vw, 20px); //fliesstext grösse global

/* Globales Farb-Theme */
.text-suicmc {
  color: $suicmc-blau-01;
}

.text-sbpc {
  color: $sbpc-violett-01;
}

.text-pre-ecmc {
  color: $pre-ecmc-light-apricot;
}

h2{
  font-family: $title-font;
  text-align: center;
  font-size: clamp(42px, 8vw, 100px);
  font-weight: 400;
  //border: 1px solid red;
  margin: 0;

}

.inlay{
  margin-top: 90px;
  height: 100%;
  width: 80%;
  //border: 1px solid rgba(205, 134, 63, 0.272);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 90px;
  
  @media (max-width: 1000px){
    margin-top: 40px;
    width: 96%;

  }
}

.text-box{
  margin-top: 70px;
  font-family: $text-font;
  text-align: center;
  font-size: $text-font-size;
  max-width: 1100px;


  
  
  @media (max-width: 1000px){
    text-align: center;
    margin-top: 40px;

  }

  a{
    color: inherit;
  }


}

@mixin boxshadow{
  -webkit-box-shadow: -2px 12px 12px -5px rgba(0,0,0,0.42); 
  box-shadow: -2px 12px 12px -5px rgba(0,0,0,0.42);
}


