<section>
    <div class="background">
        <img src="./assets/img/suicmc_kopfzeile.jpg" alt="" />
    </div>

    <div class="content" #contentContainer>
        <app-start id="start"></app-start>
        <app-stoerer-awareness-guide></app-stoerer-awareness-guide>
        <app-stoerer-sport-inklusiv></app-stoerer-sport-inklusiv>
        <app-was-ist></app-was-ist>
        <app-anmeldung></app-anmeldung>
        <app-helfer></app-helfer>
        <app-programm></app-programm>
        <app-karte></app-karte>
        <app-infrastruktur-locations></app-infrastruktur-locations>
        Hier die neue Housing component
        <app-lineup></app-lineup>
        <app-support-us></app-support-us>
        <app-unser-verein></app-unser-verein>
        <app-sponsoring></app-sponsoring>
        <app-instagram></app-instagram>
        <app-footer></app-footer>
    </div>
</section>
