<section
    [ngStyle]="{
        'background-image': 'url(' + getFooterImage() + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat',
        height: '100vh',
        width: '100%'
    }"
>
    <div class="footerline">
        <div class="contact">
            <p>{{ currentLanguage === "de" ? "Kontakt" : "Contact" }}</p>
            <br />
            <p>Verein Drehmoment 9000</p>
            <p>C/O Velokurier St.Gallen</p>
            <p>Turnerstrasse 2</p>
            <p>9000 St.Gallen</p>
            <br />
            <p><a href="mailto:hallo&#64;suicmc2025.ch">hallo&#64;suicmc2025.ch</a></p>
        </div>

        <div class="sponsor-box">
            <a href="http://www.kornhausbraeu.ch/">
                <img src="assets/img/sponsoren/khb.png" alt="" />
            </a>
            <a href="https://www.laborteam.ch/">
                <img src="assets/img/sponsoren/neu-logo-hum.svg" alt="" />
            </a>
            <a href="https://labordiagnostic.ch/">
                <img src="assets/img/sponsoren/LdSg_Logo_4x.png" alt="" />
            </a>
        </div>
    </div>
</section>
