<section [ngStyle]="{
    'background-image': 'url(' + getFooterImage() + ')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'height': '100vh',
    'width': '100%'
  }">

  <div class="footerline">

      <div class="contact">
        <p>{{ currentLanguage === 'de' ? 'Kontakt' : 'Contact' }}</p>
        <br>
        <p>Verein Drehmoment 9000</p>
        <p>C/O Velokurier St.Gallen</p>
        <p>Turnerstrasse 2</p>
        <p>9000 St.Gallen</p>
        <br>
        <p><a href="mailto:hallo&#64;suicmc25.ch">hallo&#64;suicmc25.ch</a></p>
      </div>

      <div class="sponsor-box">
        <span>Silbersponsoren</span>
        <img src="assets/img/neu-logo-hum.svg" alt="">
        <img src="assets/img/LdSg_Logo_4x.png" alt="">
        <!-- <div class="placeholder">Logo</div>
        <div class="placeholder">Logo</div>                     -->
      </div>
      
    </div>  

</section>
