<section
    [ngStyle]="{
        'background-image': 'url(' + getFooterImage() + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat',
        height: '100vh',
        width: '100%'
    }"
>
    <div class="footerline">
        <div class="contact">
            <p>{{ currentLanguage === "de" ? "Kontakt" : "Contact" }}</p>
            <br />
            <p>Verein Drehmoment 9000</p>
            <p>C/O Velokurier St.Gallen</p>
            <p>Turnerstrasse 2</p>
            <p>9000 St.Gallen</p>
            <br />
            <p><a href="mailto:hallo&#64;suicmc2025.ch">hallo&#64;suicmc2025.ch</a></p>
        </div>

        <!-- NEU: zwei Sponsor-Boxen -->
        <div class="sponsor-box">
            <a href="https://provelo.info/" aria-label="Pro Velo St.Gallen Appenzell">
                <img class="logo logo--provelo" src="assets/img/sponsoren/SILBER_PROVELO_SGAP_gross_fa_01.jpg" alt="Pro Velo St.Gallen Appenzell" />
            </a>
            <div class="sponsor-divider"></div>
            <a href="http://www.kornhausbraeu.ch/" aria-label="Kornhausbräu">
                <img class="logo" src="assets/img/sponsoren/khb.png" alt="Kornhausbräu" />
            </a>
            <a href="https://www.laborteam.ch/" aria-label="Laborteam">
                <img class="logo" src="assets/img/sponsoren/neu-logo-hum.svg" alt="Laborteam" />
            </a>
            <a href="https://labordiagnostic.ch/" aria-label="Labor Diagnostic">
                <img class="logo" src="assets/img/sponsoren/LdSg_Logo_4x.png" alt="Labor Diagnostic" />
            </a>
        </div>
    </div>
</section>
